<h1> Edit form </h1>

<form action="/update_photo/<%=@my_photo.id%>">
  <label for="cap"> Image URL </label>
<input id="cap" type="text" name="da_caption" value="<%= @my_photo.caption %>">
  <label for "pap"> Caption </label>
<input id="pap" type="text" name="da_source" value="<%= @my_photo.source %>">
<button> Update photo </button>
</form>
