<h1> Edit form </h1>

<form action="/update_photo/:id">
  <label for="cap"> Image URL </label>
<input id="cap" type="text" name="da_caption" value="<%=  %>">
  <label for "pap"> Caption </label>
<input id="pap" type="text" name="da_source" value=>
<button> Update photo </button>
</form>
