<h1> Add a new photo </h1>

<form action="/create_photo">
  <label for="cap"> The caption </label>
<input id="cap" type="text" name="da_caption">
  <label for "pap"> The source </label>
<input id="pap" type="text" name="da_source">
<button> Add photos </button>
</form>
