<h1> Add a new photo </h1>

<form action="/create_photo">
  <label for="caption"> Caption </label>
<input id="caption" type="text" name="da_caption">
  <label for "Image_URL"> Image URL </label>
<input id="Image_URL" type="text" name="da_source">
<button> Create Photo </button>
</form>
